/**
 * All of the CSS for admin-specific functionality.
 */


/**
 * List tables
 *
 * Styles for WP_List_Table and PeriodicalPress_List_Table output.
 */

/* Column widths */
.issues .column-date,
.issues .column-status {
	width: 10%;
}
.issues .column-number {
	width: 74px;
}

/* Centred columns */
.issues .column-number {
	text-align: center;
}

/* Issue statuses */
.issue-status {
	font-size: 14px !important;
}
.issue-status-draft {
	color: #0aa;
}
.issue-status-trash {
	color: #a00;
}
