/**
 * All of the CSS for admin-specific functionality.
 *
 * Contents:
 *
 * 1.0 LIST TABLES
 * 1.1 Issues list table
 * 1.2 Posts list table
 *
 * 2.0 EDIT SCREENS
 * 2.1 Edit Issue screen
 */

/**
 * 1.0 LIST TABLES
 *
 * Styles for WP_List_Table and PeriodicalPress_List_Table output.
 */

/**
 * 1.1 Issues list table
 */

/* Issue row borders */
.issues tr td:first-child {
	border-left: 4px solid #fff;
}
.issues tr.alternate td:first-child {
	border-left-color: #f9f9f9;
}
.issues tr.issue-current td:first-child {
	border-left-color: #555;
}

/* Column widths */
.issues .column-date,
.issues .column-status {
	width: 10%;
}
.issues .column-number {
	width: 74px;
}

/* Centred columns */
.issues .column-number {
	text-align: center;
}

/* Issue statuses */
.issue-status {
	font-size: 14px !important;
}
.issue-status-draft {
	color: #0aa;
}
.issue-status-trash {
	color: #a00;
}
.issue-status-current-issue {
	/* color: #7ad03a; */
}

/**
 * 1.2 Posts list table
 */

/* Quick Edit - align right column labels (to match left column) */
.quick-edit-row-post fieldset.inline-edit-col-right .alignleft span.title {
	width: 5em;
}

/**
 * 2.0 EDIT SCREENS
 *
 * Styles for admin screens where a single item (e.g. an Issue or Post) is being
 * edited.
 */

/**
 * 2.1 Edit Issue screen
 *
 * All cut down from Edit Post screen CSS.
 */

/** 2.1.1 From Core - common.css */

.has-right-sidebar #issue-body {
	float: left;
	clear: left;
	width: 100%;
	margin-right: -2000px;
}

.has-right-sidebar #issue-body-content {
	margin-right: 300px;
	float: none;
	width: auto;
}

.issuebox-container {
	float: left;
}

.issuebox-container .meta-box-sortables {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.metabox-holder .issuebox-container .empty-container {
	border: 3px dashed #bbb;
	height: 250px;
}

.columns-2 #issuebox-container-3 .empty-container,
.columns-2 #issuebox-container-4 .empty-container,
.columns-3 #issuebox-container-4 .empty-container {
	border: 0 none;
	height: 0;
	min-height: 0;
}

#issue-body-content {
	position: relative;
	width: 100%;
	min-width: 463px;
	float: left;
}

#issue-body.columns-2 #issuebox-container-1 {
	float: right;
	margin-right: -300px;
	width: 280px;
}

#issue-body.columns-2 #side-sortables {
	min-height: 250px;
}

/* Smartphone */
@media screen and (max-width: 600px) {

	/* Keep full-width boxes on Edit Post page from causing horizontal scroll */
	div#issue-body.metabox-holder.columns-1 {
		overflow-x: hidden;
	}
}

/** 2.1.2 From Core - edit.css */

#issuestuff {
	padding-top: 10px;
	min-width: 763px;
}

#issuestuff #issue-body {
	padding: 0;
}

#issuestuff .issuebox-container {
	width: 100%;
}

#issuestuff #issue-body.columns-2 {
	margin-right: 300px;
}

#save-action .spinner {
	float: left;
}

#lost-connection-notice .spinner {
	display: block;
	float: left;
	margin: 0 5px 0 0;
}

#namediv {
	position: relative;
}

#namediv label {
	cursor: text;
}

#namediv div.inside {
	margin: 0;
}

#issuestuff #namewrap {
	border: 0;
	padding: 0;
}

#namediv #name {
	padding: 3px 8px;
	font-size: 1.7em;
	line-height: 100%;
	height: 1.7em;
	width: 100%;
	outline: none;
	margin: 0;
	background-color: #fff;
}

#namediv #name-prompt-text {
	color: #777;
	position: absolute;
	font-size: 1.7em;
	padding: 11px 10px;
}

#issuestuff .inside-submitbox,
#side-sortables .inside-submitbox {
	margin: 0 3px;
	font-size: 11px;
}

#pending {
	background: 0 none;
	border: 0 none;
	padding: 0;
	font-size: 11px;
	margin-top: -1px;
}

.submitbox .submit {
	text-align: left;
	padding: 12px 10px 10px;
	font-size: 11px;
	background-color: #464646;
	color: #ccc;
}

.submitbox .submitdelete {
	text-decoration: none;
	padding: 1px 2px;
}

.submitbox .submit a:hover {
	text-decoration: underline;
}

.submitbox .submit input {
	margin-bottom: 8px;
	margin-right: 4px;
	padding: 6px;
}

.inside-submitbox #issue_status {
	margin: 2px 0 2px -2px;
}

#issue-status-select {
	margin-top: 3px;
}

/* Post Screen */
#issue-body #normal-sortables {
	min-height: 50px;
}

/*.postbox {
	position: relative;
	min-width: 255px;
	border: 1px solid #e5e5e5;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.04);
	box-shadow: 0 1px 1px rgba(0,0,0,0.04);
	background: #fff;
}*/

/*#normal-sortables .postbox .submit {
	background: transparent none;
	border: 0 none;
	float: right;
	padding: 0 12px;
	margin:0;
}*/

/*#side-sortables .add-menu-item-tabs li,
.wp-tab-bar li {
	display: inline;
	line-height: 1.35em;
}

#side-sortables .add-menu-item-tabs a,
.wp-tab-bar a {
	text-decoration: none;
}*/

/* @todo: do these really need to be so specific? */
/*#side-sortables .category-tabs .tabs a,
#side-sortables .add-menu-item-tabs .tabs a,
.wp-tab-bar .wp-tab-active a,
#issue-body ul.category-tabs li.tabs a,
#issue-body ul.add-menu-item-tabs li.tabs a {
	color: #333;
}*/

#side-sortables .submitbox .submit input,
#side-sortables .submitbox .submit .preview,
#side-sortables .submitbox .submit a.preview:hover {
	border: 0 none;
}

#side-sortables .inside-submitbox .insidebox,
.stuffbox .insidebox {
	margin: 11px 0;
}

/* @todo: make this a more generic class */
ul.add-menu-item-tabs,
ul.wp-tab-bar {
	margin-top: 12px;
}

ul.add-menu-item-tabs li {
	border: solid 1px transparent;
	position: relative;
}

ul.add-menu-item-tabs li.tabs,
.wp-tab-active {
	border: 1px solid #dfdfdf;
	border-bottom-color: #fdfdfd;
	background-color: #fdfdfd;
}

ul.add-menu-item-tabs li,
ul.wp-tab-bar li {
	padding: 3px 5px 5px;
}

#issueimagediv .inside img {
	max-width: 100%;
	height: auto;
	width: auto;
}

/* Edit issue */
td.issue-name strong {
	display: block;
	margin-bottom: .2em;
	font-size: 14px;
}

td.issue-title p,
td.plugin-title p {
	margin: 6px 0;
}

/* Global classes */
.wp-hidden-children .wp-hidden-child,
.ui-tabs-hide {
	display: none;
}

#issue-status-info {
	width: 100%;
	border-spacing: 0;
	border: 1px solid #e5e5e5;
	border-top: none;
	background-color: #f7f7f7;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.04);
	box-shadow: 0 1px 1px rgba(0,0,0,0.04);
	z-index: 999;
}

#issue-status-info td {
	font-size: 12px;
}

.autosave-info {
	padding: 2px 10px;
	text-align: right;
}

/*#editorcontent #post-status-info {
	border: none;
}*/

#issuestuff #issue-body.columns-2 #side-sortables {
	width: 280px;
}

.timestamp-wrap select {
	padding: 0;
	vertical-align: top;
}

.curtime #timestamp {
	padding: 2px 0 1px 0;
	display: inline !important;
	height: auto !important;
}

#issue-body #visibility:before,
.curtime #timestamp:before,
span.wp-media-buttons-icon:before {
	color: #888;
}

#issue-body #visibility:before,
.curtime #timestamp:before,
#issue-body .misc-pub-revisions:before {
	font: normal 20px/1 'dashicons';
	speak: none;
	display: inline-block;
	padding: 0 2px 0 0;
	top: 0;
	left: -1px;
	position: relative;
	vertical-align: top;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-decoration: none !important;
}

#issue-body #visibility:before {
	content: '\f177';
}

.curtime #timestamp:before {
	content: '\f145';
	top: -1px;
}

.timestamp-wrap {
	padding-top: 5px;
	line-height: 23px;
}

.timestamp-wrap p {
	margin: 8px 0 6px;
}

.timestamp-wrap input {
	border-width: 1px;
	border-style: solid;
}

.notification-dialog {
	position: fixed;
	top: 30%;
	left: 50%;
	width: 450px;
	margin-left: -225px;
	background: #fff;
	-webkit-box-shadow: 0 3px 6px rgba( 0, 0, 0, 0.3 );
	box-shadow: 0 3px 6px rgba( 0, 0, 0, 0.3 );
	line-height: 1.5;
	z-index: 1000005;
}

.notification-dialog-background {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #000;
	opacity: 0.7;
	filter: alpha(opacity=70);
	z-index: 1000000;
}

textarea#description {
	margin: 0;
	height: 4em;
	width: 98%;
}

#issuestuff h2 {
	margin-top: 20px;
	font-size: 1.5em;
	margin-bottom: 15px;
	padding: 0 0 3px;
	clear: left;
}

#issuestuff h3 {
	font-size: 14px;
	padding: 8px 12px;
	margin: 0;
	line-height: 1.4;
}

#issuestuff .inside {
	margin: 6px 0 0 0;
}

#issuestuff .inside #parent_id,
#issuestuff .inside #page_template {
	max-width: 100%;
}

#issuestuff .inside label.spam,
#issuestuff .inside label.deleted {
	color: red;
}

#issuestuff .inside label.waiting {
	color: orange;
}

#issuestuff .inside label.approved {
	color: green;
}

.ie8 #issuestuff .inside #parent_id,
.ie8 #issuestuff .inside #page_template {
	width: 250px;
}

#issue-visibility-select {
	line-height: 1.5em;
	margin-top: 3px;
}

#issuestuff #pp_issue_submitdiv .inside {
	margin: 0;
	padding: 0;
}

#issue-body-content,
.edit-form-section {
 	margin-bottom: 20px;
}

/** Custom Fields */

#issuecustomstuff thead th {
	padding: 5px 8px 8px;
	background-color: #f1f1f1;
}

#issuecustom #issuecustomstuff .submit {
	border: 0 none;
	float: none;
	padding: 0 8px 8px;
}

#side-sortables #issuecustom #issuecustomstuff .submit {
	margin: 0;
	padding: 0;
}

#side-sortables #issuecustom #issuecustomstuff #the-list textarea {
	height: 85px;
}

#side-sortables #issuecustom #issuecustomstuff td.left input,
#side-sortables #issuecustom #issuecustomstuff td.left select,
#side-sortables #issuecustomstuff #newmetaleft a {
	margin: 3px 3px 0;
}

#issuecustomstuff table {
	margin: 0;
	width: 100%;
	border: 1px solid #dfdfdf;
	border-spacing: 0;
	background-color: #f9f9f9;
}

#issuecustomstuff tr {
	vertical-align: top;
}

#issuecustomstuff table input,
#issuecustomstuff table select,
#issuecustomstuff table textarea {
	width: 96%;
	margin: 8px;
}

#side-sortables #issuecustomstuff table input,
#side-sortables #issuecustomstuff table select,
#side-sortables #issuecustomstuff table textarea {
	margin: 3px;
}

#issuecustomstuff th.left,
#issuecustomstuff td.left {
	width: 38%;
}

#issuecustomstuff .submit input {
	margin: 0;
	width: auto;
}

#issuecustomstuff #newmetaleft a {
	display: inline-block;
	margin: 0 8px 8px;
	text-decoration: none;
}

.no-js #issuecustomstuff #enternew {
	display: none;
}

#issue-body-content .compat-attachment-fields {
	margin-bottom: 20px;
}

.compat-attachment-fields th {
	padding-top: 5px;
	padding-right: 10px;
}

/** Featured Images */

#select-featured-image {
	padding: 4px 0;
	overflow: hidden;
}

#select-featured-image img {
	max-width: 100%;
	height: auto;
	margin-bottom: 10px;
}

#select-featured-image a {
	float: left;
	clear: both;
}

#select-featured-image .remove {
	display: none;
	margin-top: 10px;
}

.js #select-featured-image.has-featured-image .remove {
	display: inline-block;
}

.no-js #select-featured-image .choose {
	display: none;
}

.form-wrap p,
.form-wrap label {
	font-size: 11px;
}

.form-wrap label {
	display: block;
	padding: 2px;
	font-size: 12px;
}

.form-field input[type="text"],
.form-field input[type="password"],
.form-field input[type="email"],
.form-field input[type="number"],
.form-field input[type="search"],
.form-field input[type="tel"],
.form-field input[type="url"],
.form-field textarea {
	border-style: solid;
	border-width: 1px;
	width: 95%;
}

p.description,
.form-wrap p {
	margin: 2px 0 5px;
	color: #666;
}

p.help,
p.description,
span.description,
.form-wrap p {
	font-size: 13px;
	font-style: italic;
}

.form-wrap .form-field {
	margin: 0 0 10px;
	padding: 8px 0;
}

.form-wrap .form-field #parent {
	max-width: 100%;
}

.col-wrap h3 {
	margin: 12px 0;
	font-size: 1.1em;
}

.col-wrap p.submit {
	margin-top: -10px;
}

/*.ac_results {
	padding: 0;
	margin: 0;
	list-style: none;
	position: absolute;
	z-index: 10000;
	display: none;
	border: 1px solid #808080;
	background-color: #fff;
}

.wp-customizer .ac_results {
	z-index: 500000;
}

.ac_results li {
	padding: 2px 5px;
	white-space: nowrap;
	color: #101010;
	text-align: left;
}

.ac_over {
	background-color: #f0f0b8;
	cursor: pointer;
}

.ac_match {
	text-decoration: underline;
}*/

/* links tables */
table.links-table {
	width: 100%;
	border-spacing: 0;
}

.links-table th {
	font-weight: normal;
	text-align: left;
	vertical-align: top;
	min-width: 80px;
	width: 20%;
	word-wrap: break-word;
}

.links-table th,
.links-table td {
	padding: 5px 0;
}

.links-table td label {
	margin-right: 8px;
}

.links-table td input[type="text"],
.links-table td textarea {
	width: 100%;
}

.links-table #link_rel {
	max-width: 280px;
}


/* =Media Queries
-------------------------------------------------------------- */

/**
 * HiDPI Displays
 */

/* one column on the post write/edit screen */
@media only screen and (max-width: 850px) {
	#issuestuff {
		min-width: 0;
	}

	#wpbody-content #issuestuff #issue-body {
		margin: 0;
	}

	#wpbody-content #issue-body.columns-2 #issuebox-container-1 {
		margin-right: 0;
		width: 100%;
	}

	#issuestuff #issuebox-container-1 .empty-container,
	#issuestuff #issuebox-container-1 #side-sortables:empty {
		border: 0 none;
		height: 0;
		min-height: 0;
	}

	#issuestuff #issue-body.columns-2 #side-sortables {
		min-height: 0;
		width: auto;
	}

	/* hide the radio buttons for column prefs */
	.screen-layout,
	.columns-prefs {
		display: none;
	}
}

@media screen and (max-width: 782px) {
	#issue-body-content {
		min-width: 0;
	}

	#namediv #name-prompt-text {
		padding: 10px 10px;
	}

	#issuestuff h3 {
		padding: 12px;
	}

	/* Publish Metabox Options */
	#issue-visibility-select {
		line-height: 280%;
	}

	.wp-core-ui .save-issue-visibility,
	.wp-core-ui .save-timestamp {
		vertical-align: middle;
		margin-right: 15px;
	}

	.timestamp-wrap select#pp-mm {
		display: block;
		width: 100%;
		margin-bottom: 10px;
	}

	.timestamp-wrap #pp-jj,
	.timestamp-wrap #pp-aa,
	.timestamp-wrap #pp-hh,
	.timestamp-wrap #pp-mn {
		padding: 12px 3px;
		font-size: 14px;
		margin-bottom: 5px;
		width: auto;
		text-align: center;
	}

	/* Links */
	.links-table #link_rel {
		max-width: none;
	}

	.links-table th,
	.links-table td {
		padding: 10px 0;
	}
}

@media only screen and (max-width: 500px) {
	/* Align Add Media + Visual + Text tabs */
	#wp-content-media-buttons a {
		font-size: 14px;
		padding: 0 10px 0 10px;
	}
}

/** 2.1.3 Bespoke styles */

/* Turn off metabox movable cursor */
.js .postbox .hndle {
	cursor: pointer;
}

/* Publish box icons */
.issue-status-label,
.issue-posts-label {
	cursor: default;
}

.issue-status-label::before,
.issue-posts-label::before {
	position: relative;
	left: -1px;
	top: 0;
	display: inline-block;
	padding: 0 5px 0 0;
	vertical-align: top;
	font: 400 20px/1 dashicons;
	text-decoration: none !important;
	color:#888;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	speak: none;
}

.issue-status-label:before {
	content: '\f173';
}

.issue-posts-label:before {
	content: '\f109';
}
