/**
 * All of the CSS for admin-specific functionality.
 *
 * Contents:
 *
 * 1.0 LIST TABLES
 * 1.1 Issues list table
 */

/**
 * 1.0 LIST TABLES
 *
 * Styles for WP_List_Table and PeriodicalPress_List_Table output.
 */

/**
 * 1.1 Issues list table
 */

/* Issue row borders */
.issues tr td:first-child {
	border-left: 4px solid #fff;
}
.issues tr.alternate td:first-child {
	border-left-color: #f9f9f9;
}
.issues tr.issue-current td:first-child {
	border-left-color: #555;
}

/* Column widths */
.issues .column-date,
.issues .column-status {
	width: 10%;
}
.issues .column-number {
	width: 74px;
}

/* Centred columns */
.issues .column-number {
	text-align: center;
}

/* Issue statuses */
.issue-status {
	font-size: 14px !important;
}
.issue-status-draft {
	color: #0aa;
}
.issue-status-trash {
	color: #a00;
}
.issue-status-current-issue {
	/* color: #7ad03a; */
}
